// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

/* RGB */
$flame: #E4572E;

$f_darkblue: rgba(29, 52, 97, 1);
$f_lightblue: rgba(31, 72, 126, 1);
$f_cardblue: rgba(130, 156, 188, 1);
