<navbar>
  <%= link_to t(".new", default: "Sign up"), new_cadastro_path, :class => 'btn btn-primary' %>

  <%= link_to t(".show", default: "See users"), cadastros_path, :class => 'btn btn-primary' %>

  <%= image_tag "logo-white.svg", alt: "Fretadao", width: 200 %>

    <a class="btn btn-primary" href="https://github.com/JEVBR">GITHUB</a>

  <%= link_to t(".new", default: "Search"), root_path, :class => 'btn btn-primary' %>

</navbar>

